.frame{
    position: relative;
    width: 30%;
}
.image2{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
   }
   .middle2{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
   }
   .frame:hover .image2{
    opacity: 0.4;
   }
   .frame:hover .middle2{
    opacity: 1;
   }
   .text2{
    color:black;
    font-size: medium;
   }